/*.no-gutter {
    padding-right:0;
    padding-left:0;

    margin-left: -30px !important;
    margin-right: -30px !important;
}*/

body{
  background: url('./stardust_@2X.png') repeat-x !important;
}

.dashboard{
  margin-top: 8px;
  border-radius: 4px !important;
}

.container {
  width: 97% !important;
}

.padding-sm{
    margin-left: 0px;
}

.scroll{
  overflow: scroll;
  height: 90vh;
  max-height: 100%;
}

.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: #f9f9f9;
}

.friend-list {
  list-style: none;
  margin-left: -40px;
}

.friend-list li {
  border-bottom: 1px solid #eee;
}

.friend-list li a img {
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 0px;
}

 .friend-list li a {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 10px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}

.friend-list li.active a {
  background-color: #f1f5fc;
  text-decoration: none;
}

.friend-list li a .friend-name,
.friend-list li a .friend-name:hover {
  color: #777;
  text-decoration: none;
}

.friend-list li a .last-message {
  width: 65%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.friend-list li a .time {
  position: absolute;
  top: 10px;
  right: 8px;
}

small, .small {
  font-size: 85%;
}

.friend-list li a .chat-alert {
  position: absolute;
  right: 8px;
  top: 27px;
  font-size: 10px;
  padding: 3px 5px;
}
