/*.no-gutter {
    padding-right:0;
    padding-left:0;

    margin-left: -30px !important;
    margin-right: -30px !important;
}*/

.material-img-header{
  width: 8%;
}
.container{
  position: inherit;
}

.sidebar-class {
}

.dashboard{
  padding: 10px;
}

.scroll{
  overflow: scroll;
  height: 95vh;
  max-height: 90%;
}

.room-name{
  word-wrap: break-word;
}
