/*.no-gutter {
    padding-right:0;
    padding-left:0;

    margin-left: -30px !important;
    margin-right: -30px !important;
}*/

body{
  background: url('./stardust_@2X.png');
  background-repeat: repeat;
}

.container{
  position: inherit;
}

.sidebar-class {
  top: 54px !important;
}

.dashboard{
  margin-top: 50px;
  padding: 10px;
}

.scroll{
  overflow: scroll;
  height: 95vh;
  max-height: 100%;
}

.room-name{
  word-wrap: break-word;
}
